* {
	box-sizing: border-box;
	font-family: 'Lato';
}

body {
	color: #555;
}

a {
	color: #00b89f;
}

.container {
	margin: 0 auto;
    max-width: 500px;
}

.main {
	width: 100%
	margin: 0 auto;
}

.input input {
	width: 79%;
	height: 48px;
	padding: 6px;
	font-size: 20px;
	display: inline-block;
}

.input button {
	color: #777;
	width: 19%;
	height: 48px;
	font-size: 23px;
	border-style: none;
	display: inline-block;
}

.lists button {
	border-style: none;
	float: right;
	margin-left: 4px;
	padding: 3px 8px;
	font-size: 1em;
	color: #777;
}

#todo-ol {
	width: 99%;
	padding: 0;
	font-size: 18px;
}

#todo-ol li {
	margin: 6px 0 6px 24px;
    padding: 5px 0;
}

#todo-ol li input {
	display: none;
	width: 80%;
	height: 1em;
    border: none;
	font-size: 18px;
}

#todo-ol li.editing span {
	display:none;
}

#todo-ol li.editing input {
	display: initial;
}

#done-ul {
	width: 100%;
	padding: 5px 10px;
	list-style: none;
	background: #a8f0a8;
    border-top: 1.5px solid #00bb00;
	color: #1b981b;
	font-size: 18px;
}

#done-ul span {
	margin: -5px 0 6px 0;
	padding-bottom: 4px;
}

#done-ul li{
	margin: 4px 0;
    padding: 3px 4px;
	width: 100%;
}

#done-ul button {
    color: #e9fbe9;
    background: #66cc66;
    text-align: center;
}

.no-tasks-yet {
	display: none;
}

#clear {
	font-weight: bold;
}

.complete, .delete, .undo {
	height: 24px;
	width: 24px;
    margin: 0 2px;
    border-radius: 4px;	
	cursor: pointer;
}

.complete, .delete, .undo {
	float: right;
}

/*.edit {
    background-image: url('pencil.png');
    background-size: 90%;
    background-position: 2px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: sub;
}*/

.complete {
    background-color: #e5ffe5;
    border: 2px solid #b5f2b5;
}

.complete:hover {
	background-color: #c0fcc0;
    border: 2px solid #7ce97c;
}

.complete:active {
	background-image: url('checkmark.png');
	background-size: cover;
}

.delete {
	background-image: url('trashcan.png');
	background-size: cover;
}

.delete:hover {
	background-image: url('trashcan-hover.png');
	background-color: #eee;
}

.delete:active {
	background-color: #ddd;
}

.undo {
	background-image: url(undo.png);
    background-size: cover;
}

.psst {
	position: absolute;
	bottom: 10px;
    color: #AAA;
    font-size: 14px;
}
